# Eclipse
.classpath
.project
.settings/
.vscode

# Intellij
.idea/
*.iml
*.iws
*.factorypath

# Mac
.DS_Store

# Maven
log/
target/
release/
assets/
release.zip
build/
fst/
/scorpio-core/dependency-reduced-pom.xml